.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translateY(-7.5vh);
}

.login__title {
  font-family: caveat;
  font-size:  2.57rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login__inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.login__field {
  display: flex;
  flex-direction: column;
  width: 240px;
  gap: 0.5rem;
}
