.login {
  height: 100vh;
  transform: translateY(-7.5vh);
}

.loginTitle {
  font-family: caveat;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.loginInputRoot {
  height: 64px;
}

.loginInputInput {
  height: 27px;
  min-height: 27px;
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 0.25rem 0.25rem;
}

.loginInputInput:focus {
  outline: none;
  border-color: #67cfff;
}

.loginInputInput[data-error] {
  outline: none;
  border-color: #ff435c;
}

.loginInputLabel {
  margin-bottom: 0.1rem;
}

.loginInputInnerInput {
  padding: 0.25rem 0.25rem;
}
