.imageInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.imageLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 260px;
  color: var(--font-color-light);
  border: 1px solid var(--light-grey-border);
  border-radius: 5px;
  margin-bottom: 5px;
}

.imageLabel img {
  max-width: 100%;
  height: 100%;
  max-height: 260px;
  object-fit: cover;
}
