@font-face {
  font-family: caveat;
  font-weight: 400;
  src: url(./assets/Caveat-Regular.ttf);
}

@font-face {
  font-family: LXGW;
  font-weight: 400;
  src: url(./assets/LXGWWenKaiTC-Regular.ttf);
}

:root {
  --font-color-light: #7d7d7d;
  --light-grey-border: #8d8d8d;
  --second-color: #d9d9d9;
  --second-color-hover: #c2c2c2;
  font-size: 14px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.main-container {
  padding: 3.43rem 1.715rem;
}
