@font-face {
  font-family: caveat;
  font-weight: 400;
  src: url(./assets/Caveat-Regular.ttf);
}

@font-face {
  font-family: LXGW;
  font-weight: 400;
  src: url(./assets/LXGWWenKaiTC-Regular.ttf);
}

:root {
  --font-color: #303030;
  --font-color-light: #7d7d7d;
  --main-color: #5d7580;
  --main-color-hover: #445f6d;
  --second-color: #d9d9d9;
  --second-color-hover: #c2c2c2;
  --font-color-white: #ffffff;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: LXGW;
  font-weight: 400;
  color: var(--font-color);
}

input {
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 0.25rem 0.25rem;
}

input:focus {
  outline: none;
  border-color: #67CFFF
}

h1 {
  font-size:  2.57rem;
  font-weight: 400;
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

.btn-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--main-color);
  color: var(--font-color-white);
  border: none;
  border-radius: 5px;
  padding: 0.40rem 0.57rem;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--main-color-hover);
}

.second {
  background-color: var(--second-color);
  color: var(--font-color);
}

.second:hover {
  background-color: var(--second-color-hover);
}

.jc-center {
  justify-content: center;
}
