@font-face {
  font-family: caveat;
  font-weight: 400;
  src: url(./assets/Caveat-Regular.ttf);
}

@font-face {
  font-family: LXGW;
  font-weight: 400;
  src: url(./assets/LXGWWenKaiTC-Regular.ttf);
}

:root {
  --font-color: #303030;
  --font-color-light: #7d7d7d;
  --main-color: #5d7580;
  --second-color: #d9d9d9;
  --font-color-white: #ffffff;
  font-size: 14px;
}

body {
  font-family: LXGW;
  font-weight: 400;
  color: var(--font-color);
}

input {
  outline: none;
}

input:focus {
  border-color: #67CFFF
}

input:invalid {
  border-color: #ef4444;
}

.btn-container {
  display: flex;
  justify-content: end;
}

.btn {
  background-color: var(--main-color);
  color: var(--font-color-white);
  border: none;
  border-radius: 5px;
  padding: 0.42rem 0.57rem;
}
