@font-face {
  font-family: caveat;
  font-weight: 400;
  src: url(./assets/Caveat-Regular.ttf);
}

@font-face {
  font-family: LXGW;
  font-weight: 400;
  src: url(./assets/LXGWWenKaiTC-Regular.ttf);
}

:root {
  --font-color-light: #7d7d7d;
  --light-grey-border: #8d8d8d;
  --second-color: #d9d9d9;
  --second-color-hover: #c2c2c2;
  font-size: 14px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.main-container {
  padding: 3.85rem 1.715rem;
  height: 100vh;
}

.tiptap {
  img {
    display: block;
    margin: 0;
  }

  [data-resize-handle] {
    /* Corner handles */
    &[data-resize-handle='top-left'],
    &[data-resize-handle='top-right'],
    &[data-resize-handle='bottom-left'],
    &[data-resize-handle='bottom-right'] {
      width: 15px;
      height: 15px;
    }

    &[data-resize-handle='top-left'] {
      cursor: nwse-resize;
    }

    &[data-resize-handle='top-right'] {
      cursor: nesw-resize;
    }

    &[data-resize-handle='bottom-left'] {
      cursor: nesw-resize;
    }

    &[data-resize-handle='bottom-right'] {
      cursor: nwse-resize;
    }
  }
}
